/* /assets/css/forbidden-bulma.css */

html, body {
    height: 100%;
    margin: 0;
    background-color: #f5f5f5; /* A light background for the page */
}

.forbidden-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 52px); /* Adjust height to account for navbar */
}

.card {
    max-width: 500px; /* A better width for a dialog with two columns */
    width: 55%; /* Use a percentage width for responsiveness */
    border-radius: 16px; /* Increased for more rounded edges */
    overflow: hidden; /* Ensures the image respects the card's border-radius */
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.15); /* Added shadow for a floating effect */
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.cell {
    padding: 1rem;
}

.cell.image-cell {
    padding: 0;
}

.forbidden-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will crop the image to fit the container */
}

#error-title {
    font-size: 2.5rem;
    font-weight: bold;
}

#error-message {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.error-code {
    font-size: 6rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.1);
}

.link-area {
    margin-top: 1.5rem;
}