html, body {
    margin: 0;
    /* Issue: Layouting, do not enable */
    /* height: 100%; */
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-family: 'Oxanium', sans-serif;
    margin-left: 50%;
    margin-right: 50%;
}

.title {
    font-family: 'Stack Sans Notch', sans-serif;
}

#start-setup-btn {
    margin-top: 5%;
    font-family: 'Stack Sans Notch', sans-serif;
}
#start-setup-btn:hover {
    background-color: darkcyan;
    color: white
}

/* This doesnt work, god damn */
/* .border-line {
    border-left: 1px solid gray;
    width: 10px;
} */

.card {
    max-height: 80%;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.2);
}